<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="server=192.168.55.12\SQLEXPRESS;database=itw;uid=sysmax;pwd=sysmax"/>
    <add name="JasonConnection" providerName="System.Data.SqlClient" connectionString="server=Jason-PC\SQLEXPRESS;database=jasontesting;uid=sa;pwd=password"/>-->
    <!--<add name="ITWProd" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433\sql2008;database=itw;uid=sysmax;pwd=Condor!"/>
    <add name="ITWTest" providerName="System.Data.SqlClient" connectionString="server=10.48.64.5\sqlexpress;database=itwtest;uid=sysmax;pwd=Condor!"/>-->
    <!--<add name="SQLmCare" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433;database=sqlmcare;uid=sysmax;pwd=Condor!"/>
    <add name="ShelbyvillemCare" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433;database=mCareShelby;uid=sysmax;pwd=Condor!"/>-->
    <add name="mCareULH" providerName="System.Data.SqlClient" connectionString="server=(local)\sqlexpress;database=mCareULH;uid=sysmax;pwd=Condor!"/>
    <add name="ITWULH" providerName="System.Data.SqlClient" connectionString="server=(local)\sqlexpress;database=ITWULH;uid=sysmax;pwd=Condor!"/>
  </connectionStrings>
  <appSettings>
    <add key="SourceDirectory" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Directories\AuthCodeHistory\HL7."/>
    <add key="OutputDirectory" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Directories\AuthCodeDirectory\HL7."/>
    <add key="ResenderLog" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Logs\AuthCodeResenderCompletionLog\completionLog.txt"/>
    <add key="ResenderDirectory" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Directories\authcoderesendercounter.txt"/>
    <add key="ErrorLog" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Logs\AuthCodeResenderErrorlog\"/>
    
  </appSettings>
  
</configuration>
